[submodule "thirdparty/vcpkg"]
	path = thirdparty/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "thirdparty/vk-bootstrap"]
	path = thirdparty/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
